# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# R Environment Variables
.Renviron

# RStudio Connect folder
# this folder is for shinyapps.io. 
# ignoring it is necessary to prevent my account from being replciated.
rsconnect/

# juuuunk
# https://buildthis.com/ds_store-files-and-why-you-should-know-about-them/
.DS_Store
